<%- include('header') %>
<div class="result">
    <% if (error) { %>
        <%= error %>
    <% } else { %>
        <table id="customers" >
            <thead>
                <tr>
                    <th>Cotação hoje</th>
                    <th>Quantidade</th>
                    <th>Valor total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><%= cotacao %> </td>
                    <td><%= quantidade %></td>
                    <td><%= conversao %></td>
                </tr>
            </tbody>    
        </table>
    <% } %>
</div>
<%- include('footer') %>
         
